@import "bootstrap";

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
  margin-bottom: -1rem;
}

.alert-alert {
  @extend .alert-danger;
  margin-bottom: -1rem;
}

